@import "tailwindcss";

@font-face {
  font-family: 'Naiveer';
  src: url('./assets/NaiveFont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-naiveer: 'Naiveer', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.font-naiveer {
  text-transform: lowercase;
}
